html, body {
  height: 100%;
  overflow: hidden;

}

html, body, h1, h2, p {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  align-items: center;
  position: relative;
  background: hsl(0, 0%, 98%);
}

.bg-design-2, section {
  background: hsl(270, 20%, 96%);
}

.bg-design-1, .radio {
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%)); 
}



/* BG DESIGN */ 
.bg-design {
  position: absolute;
  height: 700px; 
  width: 550px;
  z-index: -1;
  align-self: start;
}

.bg-design-1 {
  border-bottom-left-radius: 280px;
  border-bottom-right-radius: 280px;
  right: 67.3%;  
}

.bg-design-2 {
  bottom: 0;
  border-top-left-radius: 280px;
  border-top-right-radius: 280px;
  left: 81.8%;  
  align-self: end;
}


/* PHONE SCREEN */ 
.phone-screen-outer {
  grid-column: 2 / 3;
  background: hsl(0, 0%, 100%);
  padding: 10px;
  box-shadow: 3px 10px 25px -4px hsl(0, 0%, 50%); /* have this on msg 2 so need to refactor */ 
  height: 500px;
  width: 230px;
  justify-self: center;
  border-radius: 30px;
}

/* PHONE SCREEN- HEADER */ 
header {
  background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%)); 
  border-radius: 20px 20px 5px 5px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 16px 0 16px;
  position: relative;

}

.header-design {
  position: absolute;
  width: 140px;
  height: 20px;
  background: white;
  border-radius: 0 0 15px 15px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

header img {
  border-radius: 25px;
  border: 1px solid white;
}

h2, span {
  color: white;
}

h2 {
  font-weight: 400;
}

span {
  font-weight: 500;
}

header p {
  color: hsl(276, 100%, 81%); 
  margin-top: 2px;

}

.v-ellipsis {
  margin-left: auto;
}

/* PHONE SCREEN- MSG SECTION */ 
section{
  border-radius: 0 0 25px 25px;
  height: 415px;
  display: grid;
  padding: 10px;
  grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content;

}

.phone-screen p, label {
  font-size: 8px;
}

h2, input[type="text"] {
  font-size: 11px;
}

.message {
  margin: 5px 0;
  align-items: start;
  padding: 8px;
}

.message-left-text, .message-right-text {
  max-width: 53%;
}

.message-left {
  border-radius: 10px 10px 10px 5px; /* corners on all except bottom left*/
}

.message-left-text {
  color: hsl(276, 55%, 52%);
  background: hsl(293, 58%, 93%);
}

.message-right {
  border-radius: 10px 10px 5px 10px; /* corners on all except bottom right*/ 
  justify-self: end;

}

.message-right-text {
  background: hsl(0, 0%, 100%); 
  box-shadow: 3px 3px 6px -4px hsl(0, 0%, 50%);
  color: hsl(271, 15%, 43%);
}

.message-imgs {
  display: flex;
  gap: 10px;
  padding: 5px 0 0 0;
}

.message-imgs img {
  border-radius: 10px;
}

/* PHONE SCREEN RADIO BUTTON */ 

.radio {
  width: 70%;
  display: flex;
  align-items: center;
  position: relative;
}

label {
  color: hsl(0, 0%, 80%);
  margin: 0 0 0 22px; 
}

label:hover {
  cursor: pointer;
}

.radio p {
  margin-left: auto;
  color: hsl(0, 0%, 100%);
  margin-right: 10px;
  font-size: 13px;
  font-weight: 700;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio-button {
  position: absolute;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid hsl(289, 100%, 72%); 
}

input[type="radio"]:checked ~ .custom-radio-button {
  background: hsl(289, 100%, 72%); 
}

/* PHONE SCREEN- SEND MESSAGE FORM */ 
.send-message {
  align-self: end;
  display: flex;
  border-radius: 25px;
  background: white; 
  justify-content: space-between;
  padding: 5px 5px 5px 15px;
}

input[type="text"] {
  border: none;
  outline: none;
}

.circle {
  background: hsl(271, 36%, 24%); 
  height: 25px;
  width: 25px;
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;

}

::placeholder {
  color: hsl(206, 6%, 79%);
}

::-webkit-input-placeholder { /* Edge */
  color: hsl(206, 6%, 79%);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: hsl(206, 6%, 79%);
}



/* BIG TEXT ON RIGHT SIDE */ 
.big-text {
  grid-column: 3 / 5;
  padding-left: 80px;
  margin-bottom: 20px;
  width: 450px;
  line-height: 1.8;
}

h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  color: hsl(271, 36%, 24%);
}

.big-text p {
  color: hsl(270, 7%, 64%);
}

/* MEDIA QUERIES */ 
@media only screen and (max-width: 375px) {
  html, body {
    overflow: scroll;
  }

  body {
    grid-template-columns: 100%;
    background: hsl(270, 20%, 96%);
  }
  .bg-design-2 {
    display: none;
  }
  .bg-design-1 {
    right: 50%;
    height: 60%;
    width: 126%;
  }

  .phone-screen-outer {
    grid-column: 1 / 1;
    margin: 70px 0 50px 0;
  }  
  .big-text {
    grid-column: 1 / 1;
    text-align: center;
    padding: 0 30px 60px 30px;
    width: auto;
  }
}

/* FULL SCREEN MEDIA QUERY - CBA TO PROPERLY FIX THIS PROJECT ATM */ 
@media only screen and (min-width: 1500px) {
  .bg-design-1 {
    right: 67%;
  }
  .bg-design-2 {
    left: 80%;
  }
}

@media only screen and (min-width: 1600px) {
  .bg-design-1 {
    right: 66.5%;
  }
  .bg-design-2 {
    left: 78.5%;
  }
}

@media only screen and (min-width: 1700px) {
  .bg-design-1 {
    right: 66.4%;
  }
  .bg-design-2 {
    left: 77%;
  }
}

@media only screen and (min-width: 1800px) {
  .bg-design-1 {
    right: 66.3%;
  }
  .bg-design-2 {
    left: 75.5%;
  }
}

@media only screen and (min-width: 1900px) {
  .bg-design-1 {
    right: 66.2%;
  }
  .bg-design-2 {
    left: 74%;
  }
}


/* TO DO 
  last but not least, make both bg design's responsive with the phone screen div. (so it moves left at the same pace as the phone screen). 
  - if i come back to edit this, maybe make a background container that is absolute positioned, then use grid and 
  negative positioning or something, idk need more research on absolute positioning, ... 

*/ 